audio {
  position: fixed;
  right: 0;
  bottom: 2%;
  width: 50%;
}

html {
  cursor: url(imagens/mata_mosca.png) 15 15, auto;
}

body {
  background-image: url(imagens/bg.jpg);
  background-repeat: no-repeat;
  background-size: 275%;
}
.d-flex {
  justify-content: center;
  margin-top: 0%;
}

.d-flex2 {
  justify-content: center;
  display: flex;
  text-size-adjust: 300%;
  flex-direction: column;
}

.d-flex3 {
  display: flex;
  justify-content: center;
  text-size-adjust: 500%;
  flex-direction: column;
}

.mosquito1 {
  width: 100px;
  height: 100px;
}
.mosquito2 {
  width: 200px;
  height: 200px;
}
.mosquito3 {
  width: 250px;
  height: 250px;
}

.ladoA {
  transform: scaleX(1);
}
.ladoB {
  transform: scaleX(-1);
}

.painel {
  position: absolute;
  width: 190px;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  border-top: solid 1px #fff;
  background-color: #fff;
  opacity: 0.7;
}

.vida {
  padding-left: 20%;
  margin-bottom: 5%;
}

.cronometro {
  font-family: fantasy;
  float: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10%;
}

.tamimg {
  width: 200%;
}

@media (min-width: 1024px) {
  head {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    transform: initial;
    color: initial;
    font-weight: initial;
    background-color: initial;
    filter: initial;
    justify-content: initial;
    background-size: initial;
    margin-top: initial;
    display: initial;
    text-size-adjust: initial;
  }

  body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  audio {
    position: fixed;
    right: 0;
    bottom: 2%;
  }

  html {
    cursor: url(imagens/mata_mosca.png) 15 15, auto;
  }

  body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .tamimg {
    width: 45%;
  }

  .d-flex {
    justify-content: center;
    margin-top: 0%;
  }

  .d-flex2 {
    justify-content: center;
    margin-top: 0%;
    text-size-adjust: 10%;
    flex-direction: row;
  }

  .d-flex3 {
    justify-content: center;
    margin-top: 0%;
    flex-direction: row;
  }

  .mosquito1 {
    width: 100px;
    height: 100px;
  }
  .mosquito2 {
    width: 200px;
    height: 200px;
  }
  .mosquito3 {
    width: 250px;
    height: 250px;
  }

  .ladoA {
    transform: scaleX(1);
  }
  .ladoB {
    transform: scaleX(-1);
  }

  .painel {
    position: absolute;
    width: 200px;
    padding: 10px;
    left: 0px;
    bottom: 5px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
  }

  .vida {
    padding-left: 20%;
    margin-bottom: 5%;
  }

  .cronometro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0%;
  }
}
